work_with_kurse/datasets/Fashion-mnist_train.csv
work_with_book/animals_imgs/inception_v3.ckpt
work_with_book/open_code_TZ/create_datasets/archive.zip
work_with_book/open_code_TZ/create_datasets/archive
work_with_book/open_code_TZ/create_datasets/images
work_with_book/open_code_TZ/create_datasets/annotations
work_with_book/open_code_TZ/pipeline_live_detection/yolov3.weights
work_with_book/open_code_TZ/create_datasets/model_on_dataset_Yolov3.keras
work_with_book/open_code_TZ/create_datasets/keras_tuner
work_with_book/BBN_LLC/yolov5x.pt
work_with_book/BBN_LLC/yolov5s.pt
work_with_book/BBN_LLC/video
work_with_book/BBN_LLC/darknet 
.idea
work_with_book/sobesi_OPEN_CODE/images
work_with_book/sobesi_OPEN_CODE/openCV/models_params
work_with_book/sobesi_OPEN_CODE/openCV/video
work_with_book/open_code_TZ/tracking_work/tracking_results